[submodule "image-attack/submodules/nn_trust"]
	path = image-attack/submodules/nn_trust
	url = https://github.com/LeoPhilosophers/nn_trust.git
	branch = develop

[submodule "submodules/data_quality"]
	path = submodules/data_quality
	url = git@github.com:LeoPhilosophers/data-quality.git
[submodule "submodules/nn_trust"]
	path = submodules/nn_trust
	url = git@github.com:LeoPhilosophers/nn_trust.git
	branch = develop
