[submodule "image-attack/submodules/nn_trust"]
	path = image-attack/submodules/nn_trust
	url = git@github.com:LeoPhilosophers/nn_trust.git
	branch = develop
[submodule "benchmarking/submodules/nn_trust"]
	path = benchmarking/submodules/nn_trust
	url = git@github.com:LeoPhilosophers/nn_trust.git
	branch = develop
[submodule "attack-server/submodules/nn_trust"]
	path = attack-server/submodules/nn_trust
	url = git@github.com:LeoPhilosophers/nn_trust.git
	branch = develop
[submodule "attack-server/submodules/data-quality_gui"]
	path = attack-server/submodules/data-quality_gui
	url = git@github.com:LeoPhilosophers/data-quality_gui.git
	branch = dev/embplot
